

div {    padding: 5px;
    margin: 3px;
}

.container1{
    height: 400px;
    background-color: rgb(201, 190, 177);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerA {
    background-color: aquamarine;
    /* width: 50%; */
    border:  3px solid blue;
    /* flex: 0 0 auto; */
}
.containerB {
    background-color: rgb(178, 141, 188);
    /* width: 50%; */
    /* flex:  0 0 auto; */
    border:  3px solid rgb(217, 230, 99);

}